@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

:root {
    --clr: #ad5389;

}

body {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    min-height: 100vh;
    background: #0e6b62;
}

.container {
    position: relative;
    padding-left: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 1460px;
    margin: auto;
    
}

.tabs {
    position: relative;
    width: 80px;
    padding: 40px 0px;
}

.tabs input {
    appearance: none;
    display: none;
}

.tabs .icon {
    position: relative;
    display: flex;
    flex-direction: column; /*mudar*/
}

.tabs .icon label {
    width: 80px;
    height: 100px;
    text-align: center;
    line-height: 90px;
    font-size: 2.6em;
    color: white;
    opacity: 0.4;
    transition: 0.5s;
    cursor: pointer;
    z-index: 2;
}

.tabs input:nth-child(1):checked ~ .icon label:nth-child(1), 
.tabs input:nth-child(2):checked ~ .icon label:nth-child(2),
.tabs input:nth-child(3):checked ~ .icon label:nth-child(3),
.tabs input:nth-child(4):checked ~ .icon label:nth-child(4) {
    opacity: 1;

}

.indicator {
    position: absolute;
    width: 80px;
    height: 82px;
    background: var(--clr);
    z-index: 1;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: 0.5s;

}

.indicator::before {
    content: '';
    position: absolute;
    top: -20px;
    right: 0px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 8px 8px 0px 8px var(--clr);
}

.indicator::after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 8px -8px 0px 8px var(--clr);
}

.tabs input:nth-child(1):checked ~ .icon .indicator {
    top: 0;
}

.tabs input:nth-child(2):checked ~ .icon .indicator {
    top: 25%;
}

.tabs input:nth-child(3):checked ~ .icon .indicator {
    top: 50%;
}

.tabs input:nth-child(4):checked ~ .icon .indicator {
    top: 75%;
}

.content {
    position: absolute;
    top: -70px;
    left: 80px;
    width: 83vw;
    max-width: 95vw;
    height: 90vh;
    background: linear-gradient(90deg, var(--clr), #3c1053);
    border-radius: 30px;
}

.content .contentBox {
    position: absolute;
    inset: 0px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.tabs input:nth-child(1):checked ~ .content .contentBox:nth-child(1),
.tabs input:nth-child(2):checked ~ .content .contentBox:nth-child(2),
.tabs input:nth-child(3):checked ~ .content .contentBox:nth-child(3),
.tabs input:nth-child(4):checked ~ .content .contentBox:nth-child(4) {
    opacity: 1;
    visibility: visible;

}

.content .contentBox h2, p {
    color: white;
}

h2 {
    color: #ff5500;
    padding-left: 50px;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 0px;
    
    
}


menu {
    margin: auto;
    position: absolute;
    padding-left: 30px;
        
}

menu > ul > li {

    display: inline-block;
    text-decoration: none;
    
}


.link {
    width: 250px;
    height: 250px;
    box-shadow: 0 0 8px #000000a0;
    margin: 20px 20px;
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.texto {
    text-decoration: none;
    text-align: center;
    font-style: normal;
    position: absolute;
    margin: 05px;
    top: 65%;
    font-size: 1.3rem;

}

.bi {
    text-decoration: none;
    text-align: center;
    font-style: normal;
    position: absolute;
    top: 20%;
    
}


.link i {
    transition: .4s;

}


.link:hover i {
    color: #fff;
    font-weight: bold;
    transform: scale(1.2);
}

.link01 {
    color: #ff5500;
}

.link02  {
    color: #0af;
}

.link03 {
    color: #f08;
}


.link04 {
    color: blue;
}

.link05 {
    color: #211C6A;
}

.link06 {
    color: red;
}


.link01::before {
    background-color: #ff5500;
}


.link02::before {
    background-color: #0af;
}

.link03::before {
    background-color: #f08;
}

.link04::before {
    background-color: blue;
}

.link05::before {
    background-color: #211C6A;
}

.link06::before {
    background-color: red;
}



.link::before {
    content: "";
    color: black;
    width: 255px;
    height: 255px;
    border-radius: 20px;
    position: absolute;
    left: -200px;
    top: 105%;
    
}


.link:hover::before {
    animation: desloc 1s;
    left: 0px;
    top: 0px

}


@keyframes desloc {
    0% {
        left: -200px;
        top: 105%;
    }

    50% {
        left: 15%;
        top: -25%
    }

    100% {
        left: 0px;
        top: 0px
    }

}
